<div class="hero-form">
	<div class="container">
		<form method="get" action="?">
			<div class="row">
				<div class="input-group first col-sm-12 col-md-4">
					<div class="input-group-addon">
						<i class="md-icon">my_location</i>
					</div>
					<!-- /.input-group-addon -->

					<select class="form-control" name="city" id="exampleSelect1" [ngModel]="selectedCity" (ngModelChange)="onSelect($event)">
						<option [value]="city" *ngFor="let city of cities">
							{{city}}
						</option>
					</select>
				</div>
				<!-- /.input-group  -->

				<div class="input-group col-sm-12 col-md-6">
					<div class="input-group-addon">
						<i class="md-icon">search</i>
					</div>
					<!-- /.input-group-addon -->
					<!--<input placeholder="Search Service" name="name" [typeahead]="statesComplex" typeaheadOptionField="name"
					 class="form-control">-->
				</div>
				<!-- /.input-group  -->

				<div class="form-group last col-sm-12 col-md-2">
					<button type="submit" class="btn btn-primary btn-block">Search</button>
				</div>
				<!-- /.col-* -->
			</div>
		</form>

		<div class="hero-form-sub">
			<strong class="hidden-sm-down">Or choose category</strong>

			<ul>
				<li *ngFor="let cat of categories">
					<a [routerLink]="['/category', cat.$key]">{{cat.name}}</a></li>
				<li>
			</ul>
		</div>
	</div>
	<!-- /.container -->
</div>