.uk-slider-container{
    margin-left: 3px;
    margin-right: 3px;
}

.uk-slidenav-previous{
    left: -50px;
}

.uk-slidenav-next{
    right: -52px;
}

.uk-slidenav-position .uk-slidenav{
    top: 40%;
}